/* NAVBAR CSS*/
.w3-navbar li {
  
  float:right!important;
  
}
.w3-navbar{
  font-family: "Lato", sans-serif;
}

.headerMarginRight{
  margin-right: 30px;
}
.icon img{
  float: left;
  margin-left: 30px;
}

/*PAGECONTENT CSS*/


.pageContent{
  max-width: 1200px;
  margin: auto;
}

.photoAndInfo{
  content: "";
    clear: both;
    display: table;
  margin-left: 20px;
  margin-right: 20px;
}

.w3-section img {
	width: 100%;
}
.pegasusPhotos{
	width: 48%;
	float: left;
	display:block;
  margin-top: 20px;
}

.galleryPadding img{
  padding-left: 10px;
  padding-right:10px;
}

.pegasusName h1{
  font-size: 40px;
}
.preorderButton{

}
@media only screen and (min-width: 800px) and (max-width: 1100px) {
  .pegasusName h1{
  }
  .preorderButton button{
  }
  .pegasusInfo ul{
    font-size: 12px;
  }
}

@media only screen and (max-width: 800px) {
  .pegasusName h1{
  }
  .preorderButton button{
  }
  .pegasusInfo ul{
    font-size: 12px;
  }
}
@media only screen and (max-width: 600px){
  .hide600px{
    display: none;
  }
  .pegasusPhotos{
    width: 100%;
    margin-top: 0;
  }
  .pegasusInfo{
    width: 100%!important;
    text-align: center;

  }
  .pegasusInfo ul{
    list-style-type: none;
    padding: 0;
  }
  .pegasusInfo li{
    padding-bottom: 5px;
  }
  .photoAndInfo{
    margin: 0;
  }
  .features img{
    width: 100%!important;
  }
}

.preorderButton button {
  -webkit-border-radius: 0;
  -moz-border-radius: 0;
  border-radius: 0px;
  font-family: Arial;
  color: #000000;
  font-size: 20px;
  background: #ffffff;
  padding: 10px 20px 10px 20px;
  border: solid #000000 2px;
  text-decoration: none;
  transition: all 0.3s ease 0s;
}

.preorderButton button:hover {
  background: #000000;
  text-decoration: none;
  color: #ffffff;
  transition: all 0.5s ease 0s;
}

.pegasusInfo{
	width: 48%;
	float: right;
  font-size: 16px;
}

.pageContent{
	/*margin top to make space for the header menu*/
	margin-top: 46.4px;
}

.pegasusVideos iframe{
}

.pegasusVideos{
}
/*Video wrapper trick taken from https://css-tricks.com/NetMag/FluidWidthVideo/Article-FluidWidthVideo.phpv */
.videoWrapper {
  position: relative;
  padding-bottom: 56.25%; /* 16:9 */
  padding-top: 25px;
  height: 0;
}

.videoWrapper iframe {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}


.imageContainer img{
	width: 50%;
	float: left;
}

.imageContainer{

}

.footer{
  margin-top: 20px;
}

/* allows the elements to stop floating so their container divs have a height*/
.clearer{
  clear: both;
}

